* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
}

.site {
    background: #fff;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    flex-direction: column;
}

.site > * {
    border: 1px solid #aaa;
    border-radius: 0.3em;
    padding: 2em;
}

.site-header,
.site-footer {
    flex: 1 0 100%;
}

.site-main {
    flex: 1 0 60%;
}

.site-sidebar {
    flex: 0 0 30%;
}

@media (min-width: 800px) {
    .site {
        flex-direction: row;
    }
}