* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
}

.content {
    display: inline;
    width: 900px;
    margin: 0 auto;
}

.post {
    border: 1px solid #ccc;
    padding: 1.5em 2em;
    border-radius: 0.3em;
    color: #333;
}

.post section p:first-child {
    font-size: 1.2em;
    font-weight: 400;
    color: #111;
}

h1, h3 {
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.4em;
    margin-top: 2em;
}

p {
    margin-bottom: 2em;
}

.post footer {
    font-style: italic;
}

.post time {
    font-weight: bold;
}